<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  rel="stylesheet"
/>

<header id="header" class="header">
  <div class="header-container">
    <div class="item-left">
      <button class="hamburger" (click)="onToggleMenu()">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>

    <div class="item-center">
      <div class="logo-container">
        <img [src]="headerConfig.logoUrl" [alt]="headerConfig.logoAlt" class="logo-image" />
      </div>
    </div>
    <div class="item-right">
      <div class="profile-info">
        <button (click)="toggleDropDown($event)" class="button-info">
          <img
            [src]="userProfile?.photoURL || headerConfig.defaultAvatarUrl"
            [alt]="userProfile?.displayName || 'Profilo'"
            class="profile-img"
          />
        </button>
      </div>
    </div>
  </div>
</header>

<ng-template #dynamicContent let-close="close">
  <div class="dropdown-window" (mouseleave)="toggleDropDownF($event)">
    <div class="dropdown-content">
      <h3 class="userProfile">
        <i class="fas fa-user"></i>
        {{ userProfile?.profileLabel }}
      </h3>
      <h3></h3>
      <div class="dropdown-item" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        Logout
      </div>
    </div>
  </div>
</ng-template>
