<form [formGroup]="form" (ngSubmit)="submitForm()" [attr.aria-busy]="loading">
  <div class="form-container">
    <app-custom-scrollbar [scrollHeigth]="700">
      <ng-container *ngFor="let field of fields">
        <ng-container *ngIf="field.type == 'hiddenBox'">
          <input 
            [type]="field.typeInput"
            [name]="field.name"
            [formControlName]="field.name"
            [id]="field.htmlId"
            class="form-control" [ngClass]="field.cssClass"
            [(ngModel)]="formValues[field.name]">
        </ng-container>

        <div class="row mt-3 mb-3">
          <label *ngIf="field.type != 'hiddenBox'" class="col-sm-3 col-form-label font-medium">{{ field.label }}
            <span class="badge bg-secondary" *ngIf="field.required">Richiesto</span>
          </label>
          <div class="col-sm-9">
            <input *ngIf="field.type === 'textBox'"
              [type]="!field.typeInput ? 'text' : field.typeInput "
              [name]="field.name" 
              [formControlName]="field.name" 
              [attr.required]="field.required ? true : null"
              [id]="field?.htmlId" class="form-control" [ngClass]="field.cssClass"
              [placeholder]="field?.placeholder"
              [maxlength]="field.maxLength!"
              [minlength]="field.minLength!"
              [min]="field.typeInput === 'number' ? field.min : null"
              [max]="field.typeInput === 'number' ? field.max : null">
              
            <ng-container  *ngIf="showPasswordButton[field.name]">

              
                <button type="button" class="btn functional-btn" (click)="toggleFieldTextType(field)">
                  <i
                  class="mdi"
                  [ngClass]="{
                    
                    'mdi-eye-outline ': field.typeInput === 'password',
                    'mdi-eye-off-outline': field.typeInput === 'text',
                  }"
                  
                ></i>
                </button>
           
            </ng-container>  
            <ng-container *ngIf="field.funcButton">
              <button type="button" class="btn functional-btn" (click)="onFucBtnClick(field)">
                <span class="mdi mdi-text-box-search-outline"></span>
              </button>
            </ng-container>

            <textarea *ngIf="field.type === 'textArea'" [placeholder]="field.placeholder" rows="4" class="form-control"
              [ngClass]="field.cssClass" [minlength]="field.minLength!" [maxlength]="field.maxLength!"
              [formControlName]="field.name">

                </textarea>

            <app-dynamic-select-box *ngIf="field.type === 'selectBox' && field.selectOptions" [config]="field"
              [formGroup]="form" 
              [parentValue]="getParentValues(field.selectOptions.parent)"
              [value]="formValues[field.name]" [values]="field.selectOptions.multiple ? formValues[field.name] : []"
              (valueChange)="onValueChangeSelectBox(field.name, $event)">



            </app-dynamic-select-box>
            <app-dynamic-radio-box *ngIf="field.type === 'radio' && field.radioOptions" [config]="field"
              [formGroup]="form"
              [parentValue]="getParentValues(field.radioOptions.parent)"
              [value]="formValues[field.name]"
              (valueChange)="onValueChangeSelectBox(field.name, $event)">
            </app-dynamic-radio-box>
            <app-dynamic-file-box *ngIf="field.type === 'fileBox'" [config]="field" [value]="formValues[field.name]"
              [formGroup]="form" (valueChange)="onValueChange(field.name, $event)">
            </app-dynamic-file-box>


          </div>


          <!--  <div *ngIf="name.invalid && name.touched" class="text-danger">*Nome obbligatorio</div> -->
        </div>



      </ng-container>
    </app-custom-scrollbar>

  </div>



  <div class="form-footer" *ngIf="showBottomButtons">

    <button *ngIf="showBottomButtonLeft" type="button" class="btn ana-button" (click)="cancellForm()" [disabled]="loading">
      <span class="mdi mdi-keyboard-return"></span><span class="bottom-button-name btn-cancel-form">{{closeButton}}</span>
    </button>
    <button *ngIf="showBottomButtonRight" type="submit" class="btn ana-button btn-submit-form" [disabled]="loading"> <span *ngIf="loading" class="spinner-border spinner-border-sm" aria-hidden="true"></span><span class="mdi" [ngClass]="iconSubmitButton" ></span><span class="bottom-button-name">{{loading ? 'Creazione…' : submitButton}}</span></button>

  </div>
</form>
