<div class="caption-container" [ngClass]="cssClass">
  <div class="item-wrap wrap-item-title">
    <h2 class="page-title">{{ caption }}</h2>
  </div>

  <div class="items-class" *ngIf="showSearchInput || showButtonInput">
    <div class="input-container">
      <input
        type="search"
        [(ngModel)]="inputValue"
        *ngIf="showSearchInput"
        aria-label="Cerca"
        placeholder="Cerca"
      />
      <button
        type="button"
        *ngIf="showButtonInput"
        aria-label="Avvia ricerca"
        (click)="onButtonChange($event)">
        <span class="mdi mdi-magnify" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div class="item-wrap last-item-wrap">
    <div class="btn-container">
      <ng-container *ngFor="let cButton of customToolbarButtons">
        <button
          [id]="cButton.id"
          [attr.name]="cButton.name"
          [disabled]="cButton.disabled"
          [ngClass]="cButton.cssClass"
          class="btn ana-button"
          *ngIf="cButton.visible"
          (click)="toolbarButtonClick(cButton)"
        >
          <i *ngIf="cButton.icon" [class]="cButton.icon" aria-hidden="true"></i>
          {{ cButton.text || cButton.name }}
        </button>
      </ng-container>

      <button
        *ngIf="addButtonShow"
        [id]="addButton.id"
        [name]="addButton.name"
        class="btn ana-button addButton"
        [ngClass]="addButton.cssClass || ''"
        (click)="onClickAddButton(addButton)"
      >
        <i [class]="addButton.icon" aria-hidden="true"></i>
        {{ addButton.text || addButton.name }}
      </button>

      <button
        type="button"
        class="icon-button close-button"
        *ngIf="isClosable"
        (click)="onClickCrocetta($event)"
      >
        <span class="mdi mdi-close" aria-hidden="true"></span>
        <span>Chiudi</span>
      </button>
    </div>
  </div>
</div>
